<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<!-- プロフィール画像 -->
		<%= attachment_image_tag current_user, :profile_image, size: "100x100", format: "jpeg", fallback: "no_image.jpg" %>
		<table class="table">
			<tbody>
				<tr>
					<th>name</th>
					<th><%= current_user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= current_user.introduction %></th>
				</tr>
			</tbody>
		</table>
		<!-- プロフィール編集へリンク -->
		<%= link_to edit_user_path(current_user) do %>
			<span class="glyphicon glyphicon-wrench btn btn-default btn-ex"></span>
		<% end %>

		<h2>New book</h2>
		<%= form_for (@book) do |f| %>
			<!-- バリテーションエラー表示 -->
			<%if @book.errors.any? %>
				<h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
					<ul>
						<% @book.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
			<% end %>
			<div class="field">
				<p>Title</p>
				<%= f.text_field :title, class: "btn-ex" %>
			</div>
			<div class="field">
				<p>Opinion</p>
				<%= f.text_area :body, class: "btn-ex" %>
			</div>

			<%= f.submit "Create Book" , class: "btn btn-primary btn-ex" %>

		<% end %>
	</div>

	<div class="col-xs-9">
		<h2>Users</h2>
		<table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th></th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= attachment_image_tag user, :profile_image, size: "40x40", format: "jpeg", fallback: "no_image.jpg" %>
						</td>
						<td>
							<%= user.name %>
						</td>
						<td>
							<%= link_to "Show", user_path(user.id) %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>